@using DemoWebsite.Mvc.Content.EmbeddedResources
@{
    ViewBag.Title = "Home Page";
    
    // This page really, really needs jQuery, so make sure it's added...
    // It's ok if it's already been added - it'll get filtered out!
    Html.ClientResources()
        .IncludeScript("~/Scripts/jquery-1.5.1.min.js")
        .IncludeEmbeddedResource<Registration>(Registration.EmbeddedScript)
        .OnDocumentReady("$('#partial-container').load('" + Url.Action("Partial", "Home") + "')");
}

<h2>Home Page!</h2>

<div id="partial-container">
    Initializing partial component via partial rendering...
</div>